*{
    margin:0;
    padding:0;
    box-sizing: border-box;
    font-family: poppins,sans-serif;   
}

.body {
    width: 100%;
}

.container {
    width: 100%;
    font-family: Arial, sans-serif;
    background-color: rgb(221, 218, 218);
}

header {
    width:100%;
    height: 100px;
    background-color: #333;
    display: flex;
    align-items: center;
    justify-content: space-between;
    padding: 0 20px;
top: 0;
animation: fadeInDown 1s ease-in-out;
}

@keyframes fadeInDown {
from {
    opacity: 0;
    transform: translateY(-20px);
}
to {
    opacity: 1;
    transform: translateY(0);
}
}


nav ul {
    list-style-type: none;
    margin: 0;
    padding: 0;
    display: flex;
    align-items: center;
}

nav ul li {
    margin: 0 20px;
    position: relative;
}

nav ul li a {
    color: white;
    text-decoration: none;
    font-size: 22px;
    transition: 0.4s all;
}

nav ul li a:hover {
    color: black;
    background-color: white;
    padding: 10px;
    border-radius: 10px;
}

nav ul li .sub-menu {
    display: none;
    position: absolute;
    top: 100%;
    left: 0;
    background-color: gray;
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.2);
    z-index: 1;
    padding: 10px;
    width: 180px;
    text-align: left;
}

nav ul li:hover .sub-menu {
    display: block;
}

.sub-menu li {
    margin: 18px 0;
}

.sub-menu li a {
    color: black;
    font-size: 18px;
    transition: color 0.3s ease-in-out;
    text-align: center;
}

.sub-menu li a:hover {
    color: white;
    background-color: black;
    padding: 10px;
    border-radius: 10px;
}

#btn{
    text-decoration: none;
    color: rgb(247, 243, 243);
    background-color: rgb(55, 156, 224);
    padding: 10px 20px;
    border-radius: 10px;
}
#btn:hover{
    background-color: gray;
    color: white;

}
#logout{
    margin-left: 80px;
    text-decoration: none;
    color: rgb(247, 243, 243);
    background-color: rgb(255, 17, 9);
    padding: 10px 20px;
    border-radius: 10px;
}
#logout:hover{
    background-color: rgb(9, 136, 240);
    color: white;

}                                                                                                                                                                                                

body {
    font-family: poppins, sans-serif;
   
}

.invest{
    background: black;
    color: white;
    height: 120px;
    font-size: 30px;
    padding-top: 50px;
    margin-top: 40px;
}
.pic-invest{
    margin-top: 100px;
    display: flex;
}
.pic img{
    height: 350px;
    width: 600px;
    padding-left: 40px;
}
.invest-text{
    padding-left: 60px;
    padding-top: 30px;
    font-size: 1.2rem;
}
.para1{
  font-size: 18px; 
  padding-top: 100px; 
  text-align: left;
  padding-left: 160px;
}
.para2{
    display: flex;
    margin-top: 90px;
    padding-left: 120px;
}
.para-text{
    font-size: 18px;
    padding-left: 80px;
    padding-top: 50px;
}
.para-pic img{
    height:300px;
    width:400px;
    border-radius: 15px;
}
.more-info{
    font-size: 18px;
    margin-top: 50px;
    padding-left: 90px;
    background: black;
    color: white;
}
.more-info h1{
    padding-top: 20px;
    margin-top: 20px;
}

.more-info button{
    background-color: #60b0c0;
    height: 40px;
    width:150px;
    border-radius: 6px;
        margin-left: 50px;
        margin-top: 10px;
}
button:hover{
    background-color: white;
    height: 40px;
    width:130px;
    border-radius: 6px;
}
button a{
    text-decoration: none;
    color:white;

}
button a:hover{
    text-decoration: none;
    color:#60b0c0;
}

.business{
    display :flex;

}
.business-text{
    padding-left: 140px;
    padding-top: 60px;
    font-size: 18px;
}
.business-pic img {
height:380px;
width: 550px;
padding-left: 100px;
padding-top: 100px;
}
.incubator{
    display: flex;
    margin-top: 50px;
}
.incubator-text{
    padding-left: 120px;
    padding-top: 80px;
    font-size: 18px;
}
.incubator-pic img{
    padding-left: 60px;
    height:350px;
    width:550px;
    padding-top: 50px;
}
.crowdfund{
    display: flex;
    padding-top: 120px;
}
.crowd-pic img{
    width: 550px;
    height: 400px;
    padding-left: 80px;
}
.crowd-text{
    padding-left: 120px;
    padding-top: 30px;
    font-size: 18px;
}


footer {
    background-color: #333;
    color: white;
    padding: 20px 0;
    text-align: center;
    margin-top: 60px;
}
.footer-content {
    display: flex;
    justify-content: space-around;
    flex-wrap: wrap;
    padding: 20px;
    font-size: 20px;

}

.footer-section {
    flex: 1;
    margin: 10px;
}

.footer-section h3 {
    margin-top: 0;
}

.footer-section ul {
    list-style-type: none;
    padding: 0;
}

.footer-section ul li {
    margin: 20px 0;
}

.footer-section ul li a {
    color: white;
    text-decoration: none;
    
    
}

.footer-section p {
    margin-top: 20px;
    
}
.icons a{
    margin: 10px;
    cursor: pointer;
}




.footer-bottom {
    background-color: #222;
    padding: 10px 0;
    margin-top: 20px;
}
