* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

.body {
    width: 100%;
}

.container {
    width: 100%;
    font-family: Arial, sans-serif;
    background-color: rgb(221, 218, 218);
}

header {
    height: 100px;
    background-color: #333;
    display: flex;
    align-items: center;
    justify-content: space-between;
    padding: 0 20px;
top: 0;
animation: fadeInDown 1s ease-in-out;
}

@keyframes fadeInDown {
from {
    opacity: 0;
    transform: translateY(-20px);
}
to {
    opacity: 1;
    transform: translateY(0);
}
}

nav ul {
    list-style-type: none;
    margin: 0;
    padding: 0;
    display: flex;
    align-items: center;
}

nav ul li {
    margin: 0 20px;
    position: relative;
}

nav ul li a {
    color: white;
    text-decoration: none;
    font-size: 22px;
    transition: 0.4s all;
}

nav ul li a:hover {
    color: black;
    background-color: white;
    padding: 10px;
    border-radius: 10px;
}

nav ul li .sub-menu {
    display: none;
    position: absolute;
    top: 100%;
    left: 0;
    background-color: gray;
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.2);
    z-index: 1;
    padding: 10px;
    width: 180px;
    text-align: left;
}

nav ul li:hover .sub-menu {
    display: block;
}

.sub-menu li {
    margin: 20px 0;
}

.sub-menu li a {
    color: black;
    font-size: 18px;
    transition: color 0.3s ease-in-out;
    text-align: center;
}

.sub-menu li a:hover {
    color: white;
    background-color: black;
    padding: 10px;
    border-radius: 10px;
}

#btn{
    text-decoration: none;
    color: rgb(247, 243, 243);
    background-color: rgb(55, 156, 224);
    padding: 10px 20px;
    border-radius: 10px;
}
#btn:hover{
    background-color: gray;
    color: white;

}
#logout{
    margin-left: 80px;
    text-decoration: none;
    color: rgb(247, 243, 243);
    background-color: rgb(255, 17, 9);
    padding: 10px 20px;
    border-radius: 10px;
}
#logout:hover{
    background-color: rgb(9, 136, 240);
    color: white;

}
.news{
    transform: translateX(-100%);
    animation: slideIn 2s forwards;
    height: 150px;
    width: 100%;
    align-content: center;
    text-align: center;
    color: rgb(44, 43, 43);
    margin-top: 50px;
}
@keyframes slideIn{
    to{
        transform: translateX(0);
    }
}

.trending{
    height: 1100px;
    width: 100%;
    

    padding-top: 20px;
    display: flex;
    flex-wrap: wrap;
    column-gap: 10px;
    justify-content: center;
    color: black;
}
.trending1{
    height: 600px;
    width: 790px;
    padding-top: 20px;
    border: 1px gray solid;
}
.trending h5{
    padding-left: 10px;
    margin-top: 10px;
}
.trending a{
    color: black;
    font-weight: 600;
    padding-left: 10px;

}
.trending2{
    height: 600px;
    width: 490px;
    border: gray 0.5px solid;

    padding-top: 20px;

}.trending3, .trending4, .trending5{
    height: 450px;
    width: 420px;
    border: gray 0.5px solid;

    padding-top: 20px;
    }
    #one {
        color: white;
        text-decoration: none;
        border: 1px solid;
        padding: 5px 10px;
        background-color: black;
     }

     .zoom-image:hover{
        transform: scale(1.05);
        transition: 1s;
    }






footer {
    background-color: #333;
    color: white;
    padding: 20px 0;
    text-align: center;
    margin-top: 30px;
}

.footer-content {
    display: flex;
    justify-content: space-around;
    flex-wrap: wrap;
    padding: 20px;
    font-size: 20px;

}

.footer-section {
    flex: 1;
    margin: 10px;
}

.footer-section h3 {
    margin-top: 0;
}

.footer-section ul {
    list-style-type: none;
    padding: 0;
}

.footer-section ul li {
    margin: 20px 0;
}

.footer-section ul li a {
    color: white;
    text-decoration: none;
    
    
}
.footer-section ul li a:hover {
    color: red;
}


.footer-section p {
    margin-top: 20px;
    
}
.icons a{
    margin: 10px;
    cursor: pointer;
}




.footer-bottom {
    background-color: #222;
    padding: 10px 0;
    margin-top: 20px;
}
